[build-system]
requires = ["setuptools>=46.4.0", "wheel", "reentry"]
build-backend = "setuptools.build_meta"

[tool.isort]
profile = "black"

[tool.pylint.master]
extension-pkg-whitelist = [ "pydantic" ]

[tool.pylint.format]
max-line-length = 125

[tool.pylint.messages_control]
disable = [
    "too-many-ancestors",
    "invalid-name",
]

[tool.pylint.similarities]
ignore-imports = "yes"

[tool.pytest.ini_options]
python_files = "test_*.py example_*.py"
filterwarnings = [
    "ignore::DeprecationWarning:aiida:",
    "ignore::DeprecationWarning:plumpy:",
    "ignore::DeprecationWarning:django:",
    "ignore::DeprecationWarning:yaml:",
]
